<div style="display: flex; justify-content: center;">
  <div class="cardWarpper" [@hoverState]="hover  ? 'hover' : 'default'" [ngClass]="{'hover' : hover, 'default' : !hover}"
  (mouseover)="hover = true" (mouseout)="hover = false">
  <h3>Upload Files</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur unde omnis delectus impedit explicabo
      tenetur possimus vitae eveniet dolor nesciunt ex ad velit culpa aut numquam, fugiat illum magni temporibus!</p>
  </div>
  <div>
    <button>Open &#129109;</button>
  </div>
  <div class="imageDiv">
    <img src="/src/assets/icons/icon.svg" />
  </div>
</div>
</div>